@use '../../App';
@use '../Styles.scss';

.imgGenerator{
    @include Styles.generator;
    
   
    .imgContainer{
        @include Styles.generator-container;
        overflow: auto;
        
        .imgContent{
            @include Styles.messageContent;
            justify-content: center;
            align-items: center;
            overflow-y: scroll;

            .imgCard{
                display: flex;
                flex-direction: column;

                .textContent{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                }
            }


        }
        
        .input{
           @include Styles.input;
        }

        .btn{
           @include Styles.btn;
        }
        .btnEffect{
            @include Styles.btnEffect;
        }
    }
}