@use '../../App';
@use '../Styles.scss';
@use 'three-dots';

.textGenerator{
    @include Styles.generator;
   
    .textContainer{
        @include Styles.generator-container;

        .messageContent{
            @include Styles.messageContent;
        }

        // .searchMsg{

        // }

        .controlBtn{
            @include Styles.controlBtn;
        }
        
        .typewriter{
            font-size: large;
            margin: 1rem ;
          
        }
       
        .Typewriter span.Typewriter__cursor{
                display: none ;
            }
        
        .input{
         @include Styles.input;
         resize: none;
         overflow-y: auto;
         height: 57.6px;
         max-height: 125px;
         &::-webkit-scrollbar{
            display: none;
         }
        }

        .btn{
           @include Styles.btn;
           
        }
        .btnEffect{
            @include Styles.btnEffect;
        }
    }
}