@use '../../App';
@use '../Styles.scss';
@use 'three-dots';

.textGenerator{
    @include Styles.generator;
   
    .textContainer{
        @include Styles.generator-container;

        .messageContent{
            @include Styles.messageContent;
        }
        
        .typewriter{
            font-size: large;
            margin: 1rem ;
          
        }
       
        .Typewriter span.Typewriter__cursor{
                display: none ;
            }
        
        .input{
         @include Styles.input;
        }

        .btn{
           @include Styles.btn;
           
        }
        .btnEffect{
            @include Styles.btnEffect;
        }
    }
}